M10/name.csv
M10/confid.py
/venv/
/.idea/
Bonus/output.txt
M10/pechat.pdf
**/venv/**
**/.idea/**
.gitignore
.pdf
/__pycache__/
germanreceipt-6afe26c066ed.json
PythonMagick/
z_*.py
zzz_*.py
proba_of_tkinter/__pycache__/
./PythonMagick/
Bonus/__pycache__/
trello/confidence.py
github_json/confidence.py
proba_of_tkinter/__pycache__/
Kres/__init__.py
Kres/__pycache__/
Bonus/bilanss.xlsx
Bonus/output.xlsx
Bonus/~$bilanss.xlsx
